<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    开启日志（mybatis中自带的日志记录，默认情况下是关闭的，这里要手动打开日志记录）-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.hyw.test01.entity.car" alias="car"></typeAlias>
    </typeAliases>

    <!--    多环境environments-->
    <environments default="development">
        <!--        环境1-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--            mybatis框架自带的连接池-->
            <dataSource type="POOLED">
                <!--                连接池的配置信息-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis01"/>
                <property name="username" value="root"/>
                <property name="password" value="1234"/>
            </dataSource>
        </environment>

    </environments>

    <mappers>
        <!--        其中一个sqlMapper.xml配置路径-->
        <!--        mapper从根目录(resources)开始找-->
<!--        <mapper resource="carMapper.xml"/>-->
        <!--会自动识别package路径下的说有XXXMapper,但需要注意的是xxxMapper的目录路径要和其对映的xxxMapper.xml配置文件的目录位置要保持一致（因为idea经过
        编译后生成的class路径就会相同，这样mybatis就能够识别到）-->
        <package name="com.hyw.test01.mapper"/>
    </mappers>
</configuration>