<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件,专门写sql语句的文件,映射成对象-->
<mapper namespace="com.hyw.test01.mapper.carMapper">
    <select id="selectDongTaiSql" resultType="car" parameterType="Map">
        select * from t_car where
        <if test="brand != null and brand!=''">
            brand like concat('%',#{brand},'%')
        </if>
    </select>

    <select id="selectDongTaiSql2" resultType="car" parameterType="Map">
        select * from t_car
<!--        where会在第一个条件前面自动加一个where关键字，并且会自动删除第一个条件的and，or等关键字-->
        <where>
            <if test="brand != null and brand!=''">
                brand like concat('%',#{brand},'%')
            </if>
        </where>

    </select>

</mapper>