<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件,专门写sql语句的文件,映射成对象-->
<mapper namespace="com.hyw.test01.mapper.carMapper">
    <select id="selectDongTaiSql" resultType="car" parameterType="Map">
        select * from t_car where
        <if test="brand != null and brand!=''">
            brand like concat('%',#{brand},'%')
        </if>
    </select>

    <select id="selectDongTaiSql2" resultType="car" parameterType="Map">
        select * from t_car
<!--        where会在第一个条件前面自动加一个where关键字，并且会自动删除第一个条件的and，or等关键字-->
        <where>
            <if test="brand != null and brand!=''">
                brand like concat('%',#{brand},'%')
            </if>
        </where>

    </select>

    <select id="selectDongTaiSql3" parameterType="Map" resultType="car">
        update t_car
        <set>
            <if test="brand != null and brand!=''">
                brand = #{brand},
            </if>
            <if test="time != null and time!=''">
                time = #{time},
            </if>
            <if test="type != null and type!=''">
                type = #{type},
            </if>
        </set>
        where id = #{id}
    </select>

<!--    如果第一个条件满足，就不会走下面的条件了，如果前面两个条件都不满足，otherwise是兜底，即使他是空也会进入，相反，如果上面有条件满足则不会执行-->
    <select id="selectDongTaiSql4" resultType="car" parameterType="Map">
        select * from t_car
        <where>
            <choose>
                <when test="brand != null and brand!=''">
                    brand like concat('%',#{brand},'%')
                </when>
                <when test="type != null and type!=''">
                    type like concat('%',#{type},'%')
                </when>
                <otherwise>
                    num like concat('%',#{num},'%')
                </otherwise>
            </choose>
        </where>

    </select>

    <delete id="deleteSome" >
        delete from t_car where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id" >
            #{id}
        </foreach>
    </delete>

</mapper>