<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件,专门写sql语句的文件,映射成对象-->
<mapper namespace="com.hyw.test01.mapper.studentMapper">
    <select id="selectStudent" parameterType="map" resultType="student">
        select sid,sname,cid from t_student where sid = #{id}
    </select>

    <resultMap id="select1" type="com.hyw.test01.entity.Student" >
        <id property="sid" column="sid" />
        <result property="sname" column="sname"/>
<!--        级联属性，当一个类里面的变量是另外一个类时，用级联属性-->
<!--        （当要查询的结果列有类中的变量(这个变量时另一个类)里面的属性时）否则在查询结果输出的时候，那个变量的类会是空-->
        <result property="clazz.cid" column="cid"/>
        <result property="clazz.cname" column="cname"/>
    </resultMap>

    <select id="selectAbout" resultMap="select1">
        select
            s.sid,s.sname,s.cid,c.cname
        from
            t_student s
        join
            t_class c
        on
            s.cid = c.cid
        where
            s.sid = #{id}
    </select>

</mapper>