<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件,专门写sql语句的文件,映射成对象-->
<mapper namespace="com.hyw.test01.mapper.carMapper">
        <select id="selectAll" resultType="car" >
                select id,num,type,brand from ${name}
        </select>

        <select id="selectLike" resultType="car" >
                select
                    id,num,type,brand
                from
                    t_car
                where
                    brand like concat('%',#{brand},'%')
        </select>

        <insert id="insertCar" useGeneratedKeys="true" keyProperty="id">
            insert into
                t_car (id,num,brand,price,time,type)
            values
                (#{id},#{num},#{brand},#{price},#{time},#{type})
        </insert>
</mapper>